{% extends "authorization_generic.html" %}

{% block content %}

<div class="col-md-8"></div>
<div class=" col-md-3">
    <div class="card mt-4">
        <div class="card-body">
            <h2 class="card-title text-center mb-4">Sign up</h2>

            <form method="post" class="">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="username" required>
                    {% if form.errors.username %}
                    <small class="text-danger">{{ form.errors.username }}</small>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" id="email" required>
                    {% if form.errors.email %}
                    <small class="text-danger">{{ form.errors.email }}</small>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label for="password1" class="form-label">Password</label>
                    <input type="password" name="password1" class="form-control" id="password1" required>
                    {% if form.errors.password1 %}
                    <small class="text-danger">{{ form.errors.password1 }}</small>
                    {% endif %}
                </div>

                <div class="mb-3">
                    <label for="password2" class="form-label">Confirm Password</label>
                    <input type="password" name="password2" class="form-control" id="password2" required>
                    {% if form.errors.password2 %}
                    <small class="text-danger">{{ form.errors.password2 }}</small>
                    {% endif %}
                </div>

                <div class="text-end">
                    <button type="submit" class="btn btn-primary btn-block">Sign up</button>
                </div>

            </form>

            <div class="text-center mt-3">
                <p>Have an account? <a href="/login" class="btn btn-link">Login</a></p>
            </div>

        </div>
    </div>
</div>

{% endblock %}
